.stocks-container {
    width: 70vw;
    margin: 10vh auto auto auto;
    padding-top: 5vh;
}
.stocks-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto auto 10vh auto;
}

table {
  width: 100%;
}
